body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

.App {
  position: relative;
}

.App-header {
  background-color: #026AA7;
  text-align: center;
  font-size: 24px;
  font-style: italic;
  color: #fff;
  padding: 10px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  z-index: 10;
}

.AppContent {
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  min-height: calc(100vh - 48px);
}
