.BoardsList {
  padding: 20px;
}

.BoardsList .heading {
  font-size: 25px;
  padding: 0 10px 20px;
}

ul.boards-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

li.boards-list-item {
  flex: 0 25%;
  margin-bottom: 15px;
  position: relative;
}

li.boards-list-item .fa-times {
  position: absolute;
  color: #fff;
  background-color: #e81d1d;
  font-size: 14px;
  padding: 4px 6px;
  border-radius: 100%;
  text-align: center;
  right: 0px;
  top: -8px;
  z-index: 10;
  cursor: pointer;
}

a.board-tile {
  text-decoration: none;
  display: block;
  height: 100px;
  margin: 0 8px;
  padding: 10px;
  background-color: #0079bf;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

a.board-tile:hover {
  background-color: #05649c;
}

.add-new-board a.board-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e2e4e6;
  color: #838c91;
  font-size: 14px;
  font-weight: 400;
}

.add-new-board .input-section {
  margin: 0 8px;
}

.add-new-board a.board-tile:hover {
  background-color: #d4d5d5;
}
